* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
html {
  font-size: 10px;
}
.mainContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #EEEFF0;
  font-weight: 300;
}
.mainContainer .grey {
  color: #CDD4DE;
}
.mainContainer .sideBar {
  position: absolute;
  background-color: #2F323A;
  height: 100%;
  left: 0;
  width: 6rem;
}
.mainContainer .sideBar .activeIcon {
  position: absolute;
  background-color: #1B5EAC;
  height: 6rem;
  width: 100%;
}
.mainContainer .sideBar .sideBarIcon {
  height: 3rem;
  margin: 1rem;
}
.mainContainer .sideBar .inactiveIcon {
  position: relative;
  top: 20rem;
}
.mainContainer .sideBar .lastIcon {
  position: absolute;
  bottom: 3rem;
}
.mainContainer .mainDiv {
  position: absolute;
  height: 100%;
  left: 6rem;
  right: 0;
  background-color: #FBFBFB;
}
.mainContainer .mainDiv .topBar {
  position: absolute;
  top: 0;
  height: 6rem;
  width: 100%;
  background-color: #FBFBFB;
  border-bottom: 0.2rem solid #F5F5F6;
}
.mainContainer .mainDiv .topBar .genericName {
  position: absolute;
  top: 2rem;
  margin-left: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-weight: 300;
  font-size: 1.8rem;
  color: #5C91D2;
}
.mainContainer .mainDiv .topBar .adminName {
  position: absolute;
  right: 18rem;
  top: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-weight: 300;
  font-size: 1.8rem;
  color: #5C91D2;
}
.mainContainer .mainDiv .topBar .settingsGear {
  position: absolute;
  top: 1rem;
  height: 6rem;
  right: 16rem;
}
.mainContainer .mainDiv .topBar .settingsGear .innerImg {
  position: absolute;
  height: 4rem;
}
.mainContainer .mainDiv .topBar .addDiv {
  position: absolute;
  height: 6rem;
  line-height: 6rem;
  right: 0;
  font-size: 5rem;
  background-color: #1B5EAC;
  color: #fff;
  padding-left: 3rem;
  padding-right: 3rem;
}
.mainContainer .mainDiv .filterContainer {
  position: absolute;
  top: 0;
  height: 6rem;
  width: 100%;
  background-color: #FBFBFB;
  border-bottom: 0.2rem solid #F5F5F6;
  top: 6rem;
}
.mainContainer .mainDiv .filterContainer .genericName {
  position: absolute;
  top: 2rem;
  margin-left: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-weight: 300;
  font-size: 1.8rem;
  color: #5C91D2;
}
.mainContainer .mainDiv .filterContainer .adminName {
  position: absolute;
  right: 18rem;
  top: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-weight: 300;
  font-size: 1.8rem;
  color: #5C91D2;
}
.mainContainer .mainDiv .filterContainer .settingsGear {
  position: absolute;
  top: 1rem;
  height: 6rem;
  right: 16rem;
}
.mainContainer .mainDiv .filterContainer .settingsGear .innerImg {
  position: absolute;
  height: 4rem;
}
.mainContainer .mainDiv .filterContainer .addDiv {
  position: absolute;
  height: 6rem;
  line-height: 6rem;
  right: 0;
  font-size: 5rem;
  background-color: #1B5EAC;
  color: #fff;
  padding-left: 3rem;
  padding-right: 3rem;
}
.mainContainer .mainDiv .filterContainer .filterText {
  position: absolute;
  top: 1rem;
  margin-left: 2rem;
  height: 4rem;
  line-height: 4rem;
  font-weight: 300;
  font-size: 1.8rem;
}
.mainContainer .mainDiv .filterContainer .inactiveFilterText {
  position: absolute;
  top: 1rem;
  margin-left: 2rem;
  height: 4rem;
  line-height: 4rem;
  font-weight: 300;
  font-size: 1.8rem;
  left: 13rem;
  margin-left: 3rem;
  color: #CDD4DE;
}
.mainContainer .mainDiv .filterContainer .secondinactiveFilterText {
  position: absolute;
  top: 1rem;
  margin-left: 2rem;
  height: 4rem;
  line-height: 4rem;
  font-weight: 300;
  font-size: 1.8rem;
  left: 13rem;
  margin-left: 3rem;
  margin-left: 15rem;
  color: #CDD4DE;
}
.mainContainer .mainDiv .userDiv {
  position: absolute;
  top: 12rem;
  bottom: 0;
  background-color: #fff;
  width: 33rem;
}
.mainContainer .mainDiv .userDiv .searchBar {
  position: absolute;
  height: 4rem;
  left: 2rem;
  right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0.1rem solid #C1C1C1;
  border-radius: 2rem;
}
.mainContainer .mainDiv .userDiv .searchBar .searchText {
  position: absolute;
  left: 0;
  height: 4rem;
  line-height: 4rem;
  color: #3F7AB5;
  font-size: 1.4rem;
  font-weight: 300;
  padding-left: 1rem;
}
.mainContainer .mainDiv .userDiv .searchBar .phoneText {
  position: absolute;
  height: 4rem;
  line-height: 4rem;
  color: #5C91D2;
  font-size: 1.4rem;
  font-weight: 300;
  padding-right: 1rem;
  right: 0;
}
.mainContainer .mainDiv .userDiv .users {
  position: relative;
  top: 6rem;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 6rem;
  line-height: 6rem;
  color: #000;
}
.mainContainer .mainDiv .userDiv .users .name {
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  padding-left: 1rem;
  float: left;
}
.mainContainer .mainDiv .userDiv .users .number {
  position: relative;
  color: #CDD4DE;
  font-size: 1.6rem;
  font-weight: 400;
  padding-right: 1rem;
  float: right;
}
.mainContainer .mainDiv .selected {
  position: relative;
  top: 6rem;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 6rem;
  line-height: 6rem;
  color: #000;
  background-color: #458ACF;
  color: #F5F5F6;
}
.mainContainer .mainDiv .selected .name {
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  padding-left: 1rem;
  float: left;
}
.mainContainer .mainDiv .selected .number {
  position: relative;
  color: #CDD4DE;
  font-size: 1.6rem;
  font-weight: 400;
  padding-right: 1rem;
  float: right;
}
.mainContainer .mainDiv .alphabet {
  position: absolute;
  top: 12rem;
  bottom: 0;
  background-color: #fff;
  width: 33rem;
  width: 5rem;
  left: 33rem;
  background-color: #EEEFF0;
}
.mainContainer .mainDiv .alphabet .searchBar {
  position: absolute;
  height: 4rem;
  left: 2rem;
  right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0.1rem solid #C1C1C1;
  border-radius: 2rem;
}
.mainContainer .mainDiv .alphabet .searchBar .searchText {
  position: absolute;
  left: 0;
  height: 4rem;
  line-height: 4rem;
  color: #3F7AB5;
  font-size: 1.4rem;
  font-weight: 300;
  padding-left: 1rem;
}
.mainContainer .mainDiv .alphabet .searchBar .phoneText {
  position: absolute;
  height: 4rem;
  line-height: 4rem;
  color: #5C91D2;
  font-size: 1.4rem;
  font-weight: 300;
  padding-right: 1rem;
  right: 0;
}
.mainContainer .mainDiv .alphabet .users {
  position: relative;
  top: 6rem;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 6rem;
  line-height: 6rem;
  color: #000;
}
.mainContainer .mainDiv .alphabet .users .name {
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  padding-left: 1rem;
  float: left;
}
.mainContainer .mainDiv .alphabet .users .number {
  position: relative;
  color: #CDD4DE;
  font-size: 1.6rem;
  font-weight: 400;
  padding-right: 1rem;
  float: right;
}
.mainContainer .mainDiv .alphabet .alpha {
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.8rem;
  color: #BDC4D5;
  font-weight: 300;
  text-transform: uppercase;
}
.mainContainer .mainDiv .selectedAlpha {
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.8rem;
  color: #BDC4D5;
  font-weight: 300;
  text-transform: uppercase;
  color: #5C91D2;
  background-color: #FBFBFB;
  border: 0.1rem solid #FBFBFB;
  border-radius: 4rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mainContainer .mainDiv .userDetails {
  position: absolute;
  top: 12rem;
  bottom: 0;
  left: 38rem;
  right: 33rem;
  border: 0.2rem solid #F5F5F6;
  border-top: none;
  border-bottom: none;
  background-color: #fff;
}
.mainContainer .mainDiv .userDetails .userCard {
  position: absolute;
  top: 0;
  bottom: 48rem;
  width: 100%;
}
.mainContainer .mainDiv .userDetails .preferenceCard {
  position: relative;
  top: 42rem;
  height: 10rem;
  width: 100%;
  border-top: 0.2rem solid #F5F5F6;
}
.mainContainer .mainDiv .userDetails .preferenceCard .cardHeading {
  position: absolute;
  margin: 2rem;
  color: #CDD4DE;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 6rem;
}
.mainContainer .mainDiv .userDetails .preferenceCard .tagContainer {
  position: absolute;
  top: 3.3rem;
  height: 4rem;
  left: 15rem;
  right: 5rem;
  overflow-y: scroll;
}
.mainContainer .mainDiv .userDetails .preferenceCard .tagContainer .tags {
  position: relative;
  height: 3rem;
  line-height: 3rem;
  float: left;
  color: #5C91D2;
  font-size: 1.4rem;
  border: 0.2rem solid #f5f6f6;
  border-radius: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
}
.mainContainer .mainDiv .userDetails .preferenceCard .addItem {
  position: absolute;
  top: 3rem;
  height: 3rem;
  line-height: 3rem;
  right: 1rem;
  font-size: 3rem;
  font-weight: 300;
  color: #5C91D2;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border: 0.1rem solid #1B5EAC;
  border-radius: 2rem;
}
.mainContainer .mainDiv .userDetails .userTags {
  position: relative;
  height: 3rem;
  line-height: 3rem;
  float: left;
  color: #5C91D2;
  font-size: 1.4rem;
  border: 0.2rem solid #f5f6f6;
  border-radius: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  color: #51BC51;
}
.mainContainer .mainDiv .userDetails .eventHistory {
  position: relative;
  top: 42rem;
  height: 15rem;
  width: 100%;
  border-top: 0.2rem solid #F5F5F6;
}
.mainContainer .mainDiv .userDetails .eventHistory .cardHeading {
  position: absolute;
  margin: 2rem;
  color: #CDD4DE;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 6rem;
}
.mainContainer .mainDiv .userDetails .eventHistory .eventName {
  position: absolute;
  height: 9rem;
  left: 15rem;
  overflow: auto;
  right: 24rem;
}
.mainContainer .mainDiv .userDetails .eventHistory .eventName .eventTag {
  position: relative;
  height: 2rem;
  line-height: 2rem;
  color: #5C91D2;
  border: 0.2rem solid #f5f6f6;
  border-radius: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  display: inline-block;
}
.mainContainer .mainDiv .userDetails .eventHistory .visitCounter {
  position: absolute;
  height: 9rem;
  left: 27rem;
  width: 15rem;
}
.mainContainer .mainDiv .userDetails .eventHistory .visitCounter .headingText {
  position: relative;
  margin-top: 1rem;
  height: 2rem;
  color: #CCD3E2;
  font-size: 1.2rem;
}
.mainContainer .mainDiv .userDetails .eventHistory .visitCounter .tag {
  position: relative;
  line-height: 2rem;
  color: #5C91D2;
  border: 0.2rem solid #f5f6f6;
  border-radius: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 0.5rem;
  display: inline-block;
}
.mainContainer .mainDiv .userDetails .eventHistory .addItem {
  position: absolute;
  top: 3rem;
  height: 3rem;
  line-height: 3rem;
  right: 1rem;
  font-size: 3rem;
  font-weight: 400;
  color: #5C91D2;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border: 0.1rem solid #1B5EAC;
  border-radius: 2rem;
}
